# @your_bot
MAX_BOT_TOKEN=XXXXX

# Для отладки в консоль
DEBUG=max-io:main
# DEBUG=max-io:*

# Опционально для attachments-bot
MAX_IMAGE_URL=https://uploads.dailydot.com/2024/06/crying-cat-thumb.jpg?q=65&auto=format&w=1600&ar=2:1&fit=crop
MAX_IMAGE_TOKEN=
MAX_STICKER_CODE=db4ff394c4
