# dependencies
/node_modules
/examples/**/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
.DS_Store
/TODO.md

# dist
/dist
/lib
/types
/examples/**/dist

# tests
/test
/coverage
/.nyc_output
/lib_n
