# @your_bot
MAX_BOT_TOKEN=XXXXX

# Для отладки в консоль
DEBUG=max-io:main
# DEBUG=max-io:*

# Пути к файлам для сценария 10-pr-227-upload-progress
MAX_UPLOAD_PROGRESS_VIDEO_PATH=public/video.mp4
MAX_UPLOAD_PROGRESS_AUDIO_PATH=public/audio.mp3
MAX_UPLOAD_PROGRESS_FILE_PATH=public/video.png
MAX_UPLOAD_PROGRESS_IMAGE_PATH=public/image.png
MAX_UPLOAD_PROGRESS_TIMEOUT=60000

# Сценарий 20-chat-moderation-bot
MAX_MODERATION_USERNAME_LOOKUP_LIMIT=300
