# @your_bot
MAX_BOT_TOKEN=XXXXX

# ID группового чата
MAX_ADMIN_CHAT_ID=-123456

# ID пользователя для set-admin/delete-admin.
MAX_ADMIN_USER_ID=123456

# Права для set-admin через запятую.
MAX_ADMIN_PERMISSIONS=read_all_messages,add_remove_members,write
# Полные права, которые может назначить бот. Не доступны обычному admin-боту для назначения: edit,view_stats,delete.
# MAX_ADMIN_PERMISSIONS=add_remove_members,can_call,edit_link,read_all_messages,pin_message,change_chat_info,write

# Необязательный alias администратора.
MAX_ADMIN_ALIAS=Tester

# Защита от случайного удаления чата.
MAX_ADMIN_CONFIRM_DELETE_CHAT=false
